@charset "utf-8";

body{
    background-color: #fff;
    margin: :0px;
    padding: 0px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

section{
    width: 100%;
    height: 95vh;
    position: relative;
}

nav{
    display: flex;
    height: 60px;
    padding: 0px 5%;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 12px rgba(0,0,0,0,0,2);
}

nav:hover{
    background-color: #000;
    transition: all ease: 0.5s;
}

nav ul{
    display: flex;
}

nav ul li a {
    margin: 30px;
    font-family: sans-serif;
    color: #505050;
    font-size: 16px;
    font-weight: 700;
}

.picture{
    width: 400px;
    height: auto;
    position: absolute;
    left: 80%;
    top: 20%;
    transform: translateX(-70%);
}

.get-btn{
    border: 2px solid #403040;
    color: #6d65f3;
}

button:active{
    transform: scale(1.1);
}

.text-container{
    font-family: calibri;
    font-weight: bold;
    font-size: 24px;
    color: #1a1a1a;
}

.text-container p{
    line-height: 0px;
    margin: 50px 0px 25px;
}

.text-container{
    position: absolute;
    left: 13%;
    top: 40%;
}

.text-container button{
    width: 125px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    margin: 0px 10px;
}

.model{
    height:600px;
    width:auto;
    left: 80px;
    bottom: 50px;
    position: absolute;
    transform: translateX(-65%);
}

.skill{
    height: 600px;
    background-color: #f6f5f5;
    padding: 2% 10% 0px 10%;
}

.skill-text{
    margin: 50px 10px;
}

.box-container{
    display: flex;
    justify-content: space-between;
}

.box-1, .box-2, .box-3{
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px 4px;
}

.box-1 span, .box-2 span, .box-3 span {
    width: 40px;
    height: 40px;
    border radius: 50%;
    background-color: #6de0f0
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: calibri;
    font-weight: bold;
}

.box-1 button, .box-2 button, .box-3 button{
    widht: 90px;
    height: 30px;
    background-color: #6de0f0;
    outline: none;
    border: none
    border-radius: 5px;
}

footer p{
    font-family: calibri;
}

footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #181818;
}

